<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="PAIS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    PAIS
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
<p></p>
<p></p>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="provincia" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  PROVINCIA
</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [][routerLink]="['Header']" routerLinkActive="router-link-active">Header</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
<p></p>
<p></p>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="ciudad" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  CIUDAD
</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>